body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #333;
}

header {
    background: #ff7a00;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

#toggleCartBtn {
    margin: 20px;
    padding: 10px 20px;
    background: #ff7a00;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

#toggleCartBtn:hover {
    background: #e06900;
}

#cart {
    position: fixed;
    right: 20px;
    top: 80px;
    background: #fff4e6;
    border: 2px solid #ff7a00;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
}

.hidden {
    display: none;
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px;
}

.item {
    background: #fff4e6;
    border: 2px solid #ff7a00;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}

.item img {
    width: 100%;
    border-radius: 10px;
    height: 170px;
    object-fit: cover;
}

button {
    background: #ff7a00;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #e06900;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.qty-controls {
    display: flex;
    gap: 5px;
}

.qty-controls button {
    padding: 5px 10px;
    font-size: 14px;
}

.order {
    background: #ff7a00;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

